# third party code
external/* linguist-vendored

# build files
*.gyp -linguist-detectable
*.gypi -linguist-detectable
publishing/* -linguist-detectable

# tools
tools/scripts/* -linguist-detectable

# embedded assets
lib/src/roboto-regular-latin-woff.c -linguist-detectable
